.list__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.1rem;
    font-family: 'Indie Flower', cursive;
    padding: 1.2rem;

    :hover {
        background-color: rgb(57, 127, 160);
        box-shadow: -3px 0px 16px -3px rgba(157, 218, 232, 1);
    }
}

@media all and (min-width: 768px) {
    .list__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
        padding: 3rem;
    }
}