.form {
    color: white;
    margin: 3rem auto 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    &-container-search {
        margin-left: 1rem;
    }

    &-container-select {
        margin: 1rem;
    }

    &-container-radio {
        margin: 1rem;
        margin-bottom: 0rem;
    }
}


.search {
    &-label {
        padding-right: 1rem;
        font-size: 1.6rem;
    }

    &-input {
        width: 16rem;
        height: 3rem;
        margin-right: 4rem;
        margin-top: 1rem;
        box-shadow: -3px 0px 22px -4px rgba(157, 218, 232, 1);
    }
}

.select {
    &-label {
        padding-right: 1rem;
        font-size: 1.5rem;
    }

    &-input {
        width: 6rem;
        height: 3rem;
        margin-top: 1rem;
        box-shadow: -3px 0px 22px -4px rgba(157, 218, 232, 1);
    }
}

.radio {
    &-title {
        padding-right: 1rem;
        font-size: 1.5rem;
    }

    &-label {
        font-size: 1.2rem;
    }

    &-input {
        margin-right: 1.2rem;
    }
}


@media all and (min-width: 768px) {

    .form {
        display: flex;
        flex-direction: row;
    }


    .search {
        &-label {
            padding-right: 1rem;
            font-size: 1.7rem;
        }

        &-input {
            width: 16rem;
            height: 3rem;
            margin-right: 4rem;
            margin-top: 1rem;
            box-shadow: -3px 0px 22px -4px rgba(157, 218, 232, 1);
        }
    }

    .select {

        &-label {
            padding-right: 1rem;
            font-size: 1.7rem;
        }

        &-input {
            margin-top: 0rem;
            width: 8rem;
            height: 3rem;
            box-shadow: -3px 0px 22px -4px rgba(157, 218, 232, 1);
        }
    }

    .radio {
        &-title {
            font-size: 1.7rem;
        }

        &-label {
            font-size: 1.4rem;
        }
    }
}